assets/js/loco-autotranslate-handler - Copy.js
assets/js/loco-autotranslate-handler.js
assets/js/loco-js-editor-improved.js
assets/js/require.js
assets/js/loco-js-editor copy.js
assets/js/loco-js-editor - Copy.js
assets/js/loco-js-editor-org.js
assets/js/working/custom.js
assets/js/working/loco-js-editor copy.js
loco-addon-dev.code-workspace
.vscode/